/*모바일 버전*/
@media screen and (max-width:639px){
    .board_wrap{
        width: 100%;
        height: 82vh;
        margin: auto;
        top: 100px;
        background-color: black;
    }
    .board{
        width: 90%;
        height: 85%;
        background-color: #151515;
        margin: auto;
    }
    .title{
        width: 90%;
        color: #ffff;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .title1{
        font-size: 25px;
    }
    .sub_title{
        display: flex;
        padding-top: 10px;
    }
    .title2{
        font-size: 15px;
    }
    .title3{
        padding-left: 50%;
    }
    
    .list{
        border-bottom: 1px solid #fff;
    }
    .list_title{
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 13px;
    }
    .no{
        width: 10%;
    }
    .n_title{
        width: 75%;
    }
    .w_date{
        width:120px;
    }
    .cnt{
        width: 10%;
    }
}

/*pc버전*/
@media screen and (min-width:640px){
    .board_wrap{
        width: 100%;
        height: 83vh;
        margin: auto;
        top: 100px;
        background-color: black;
    }
    .board{
        width: 70%;
        height: 85%;
        background-color: #151515;
        margin: auto;
    }
    .title{
        width: 70%;
        color: #ffff;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .title1{
        font-size: 25px;
    }
    .sub_title{
        display: flex;
        padding-top: 10px;
    }
    .title2{
        font-size: 15px;
    }
    .title3{
        padding-left: 5%;
    }
    
    .list{
        border-bottom: 1px solid #fff;
    }
    .list_title{
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
    .no{
        width: 10%;
    }
    .n_title{
        width: 75%;
    }
    .w_date{
        width:120px;
    }
    .cnt{
        width: 10%;
    }
}