dl, dt, dd{
    margin: 0;
    padding: 0;
}
/*모바일버전*/
@media screen and (max-width:639px){

    .main_img{
        max-width: 100%;
        background: url(../images/main_img/img_02.jpg) no-repeat center;
        background-size: cover;
        min-height: 100vh;
    }
    .main_text{
        padding-left: 13%;
        padding-top: 70%;
        font-size: 20px;
        color: #fff;
        opacity: 0.7;
    }
    
    .content{
        padding: 0;
        background-color: #151515;
        margin: auto;
    }
    /*movie*/
    .movie_wrap{
        width: 95%;
        padding-bottom: 30px;
        margin: auto;
    }
    .movie_title{
        width: 100%;
        margin: auto;
    }
    .movie_title_wrap{
        display: block;
        font-size: 23px;
        text-align: center;
        color: #259c7c;
        font-weight: bold;
    }
    .movie_title_wrap li{
        width: 30%;
        height: 50px;
        padding-top: 30px;
        margin: auto;
        display: inline-block;
        /* text-decoration: underline;
        text-underline-position: under; */
    }
    
    /*Cry*/
    .cry_wrap{
        margin: auto;
        padding-left: 8%;
    }
    .cry_wrap dl{
        margin-right: 5%;
        margin-top: 20px;
        width: 230px;
        height: 300px;
        /* border:1px solid #cbcbcb; */
        box-sizing:border-box;
        display: inline-block;
        color: #fff;
    }
    .cry_wrap img{
        width: 230px;
        height: 250px;
    }
    .cry_wrap dt{
        font-weight: bold;
        text-align: center;
    }
    .cry_wrap dd{
        text-align: center;
    }
    
    /*Love*/
    .love_wrap{
        margin: auto;
        padding-left: 8%;
    }
    .love_wrap dl{
        margin-right: 5%;
        margin-top: 20px;
        width: 230px;
        height: 300px;
        /* border:1px solid #cbcbcb; */
        box-sizing:border-box;
        display: inline-block;
        color: #fff;
    }
    .love_wrap img{
        width: 230px;
        height: 250px;
    }
    .love_wrap dt{
        font-weight: bold;
        text-align: center;
    }
    .love_wrap dd{
        text-align: center;
    }
    
    /*Motivation*/
    .moti_wrap{
        margin: auto;
        padding-left: 8%;
    }
    .moti_wrap dl{
        margin-right: 5%;
        margin-top: 20px;
        width: 230px;
        height: 300px;
        /* border:1px solid #cbcbcb; */
        box-sizing:border-box;
        display: inline-block;
        color: #fff;
    }
    .moti_wrap img{
        width: 230px;
        height: 250px;
    }
    .moti_wrap dt{
        font-weight: bold;
        text-align: center;
    }
    .moti_wrap dd{
        text-align: center;
    }
}


/*pc버전*/
@media screen and (min-width:640px){
    .main_img{
        /* max-width: 100%; */
        width: 100%;
        height: 91vh;
        /* height: 1080px; */
        background: url(../images/main_img/img_01.jpg) no-repeat center;
        /* background: url(../images/main_img/img_01.jpg) no-repeat center;
        background: url(../images/main_img/img_02.jpg) no-repeat center;
        background: url(../images/main_img/img_03.jpg) no-repeat center; */
        /* background-image: "../images/main_img/img_05.jpg" no-repeat center;
        background-image: url(../images/main_img/img_05.jpg)  no-repeat center; */
        /* 페이지 크기 줄여도 꽉 차게*/
        /* background-size: contain; */
    }
    /* .img_wrap img{
        width: 100%;
        height: 100vh;
        background: url(../images/main_img/img_01.jpg) no-repeat center;
    } */
    .img1{
        background: url(../images/main_img/img_01.jpg) no-repeat center;
    }
    .img2{
        background: url(../images/main_img/img_02.jpg) no-repeat center;
    }
    .img3{
        background: url(../images/main_img/img_03.jpg) no-repeat center;
    }
    .main_text{
        /* margin: auto; */
        padding-left: 33%;
        padding-top: 21%;
        /* padding-top: 300px; */
        font-size: 30px;
        color: #fff;
        opacity: 0.8;
        /* position: relative; */
    }
    
    .content{
        padding: 0;
        background-color: #151515;
        margin: auto;
    }
    /*movie*/
    .movie_wrap{
        width: 95%;
        padding-bottom: 30px;
        margin: auto;
    }
    .movie_title{
        width: 100%;
        margin: auto;
    }
    .movie_title_wrap{
        display: block;
        /* height: 100px; */
        font-size: 25px;
        text-align: center;
        /* background-color: #151515; */
        color: #259c7c;
        font-weight: bold;
    }
    .movie_title_wrap li{
        width: 10%;
        height: 50px;
        padding-top: 10px;
        margin: auto;
        display: inline-block;
        /* text-decoration: underline;
        text-underline-position: under; */
    }
    
    /*Cry*/
    .cry_wrap{
        margin: auto;
        padding-left: 8%;
    }
    .cry_wrap dl{
        margin-right: 5%;
        margin-top: 20px;
        width: 230px;
        height: 300px;
        /* border:1px solid #cbcbcb; */
        box-sizing:border-box;
        display: inline-block;
        color: #fff;
    }
    .cry_wrap img{
        width: 230px;
        height: 250px;
    }
    .cry_wrap dt{
        font-weight: bold;
        text-align: center;
    }
    .cry_wrap dd{
        text-align: center;
    }
    
    /*Love*/
    .love_wrap{
        margin: auto;
        padding-left: 8%;
    }
    .love_wrap dl{
        margin-right: 5%;
        margin-top: 20px;
        width: 230px;
        height: 300px;
        /* border:1px solid #cbcbcb; */
        box-sizing:border-box;
        display: inline-block;
        color: #fff;
    }
    .love_wrap img{
        width: 230px;
        height: 250px;
    }
    .love_wrap dt{
        font-weight: bold;
        text-align: center;
    }
    .love_wrap dd{
        text-align: center;
    }
    
    /*Motivation*/
    .moti_wrap{
        margin: auto;
        padding-left: 8%;
    }
    .moti_wrap dl{
        margin-right: 5%;
        margin-top: 20px;
        width: 230px;
        height: 300px;
        /* border:1px solid #cbcbcb; */
        box-sizing:border-box;
        display: inline-block;
        color: #fff;
    }
    .moti_wrap img{
        width: 230px;
        height: 250px;
    }
    .moti_wrap dt{
        font-weight: bold;
        text-align: center;
    }
    .moti_wrap dd{
        text-align: center;
    }
}
