/*모바일 버전*/
@media screen and (max-width:639px){
    .footer{
        width: 100%;
        height: 50px;
        margin: auto;
        padding-top: 2%;
        background-color: #121212;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
}

/*pc버전*/
@media screen and (min-width:640px){
    .footer{
        width: 100%;
        height: 50px;
        margin: auto;
        padding-top: 1%;
        background-color: #121212;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
}