.music_wrap{
    width: 100%;
    /* height: 800px; */
    height: 82.6vh;
    margin: auto;
    top: 100px;
    /* background-color: aqua; */
    background-color: black;
    display: flex;
}

.music_img{
    width: 60%;
    /* background-color: bisque; */
    background-color: black;
}
.music_img img{
    margin: auto;
    padding-left: 5%;
    padding-top: 6%;
    width: 90%;
    height: 80%;
}
.music_list_wrap{
    margin: auto;
    width: 36%;
    height: 90%;
    margin-top: 2%;
    /* background-color: antiquewhite; */
    overflow: hidden;
    /* height: 90%; */
}
.music_menu{
    width: 100%;
    height: 5%;
    display: flex;
    background-color: #333;
    font-size: 18px;
    color: #fff;
    /* font-weight: bold; */
    text-align: center;
    align-items: center;
    /* margin-bottom: 5%; */
}
.cry_menu{
    width: 33%;
}
.love_menu{
    width: 33%;
}
.moti_menu{
    width: 34%;
}
.menu_bold{
    font-weight: bold;
}


.music_start{
    width: 90%;
    margin: auto;
    display: flex;
    padding-top: 1.5%;
    padding-bottom: 2%;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    /* border-right: 1px solid #fff; */
}
.music{
    width: 90%;
    margin: auto;
    display: flex;
    padding-top: 1%;
    padding-bottom: 2%;
    position: relative;
    border-top: 0.5px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}
.music_cover{
    margin-left: 3%;
    width: 60px;
    height: 60px;
}
.music_cover p img{
    width: 60px;
    height: 60px;
}
.music_title{
    color: #fff;
    /* background-color: aqua; */
    width: 70%;
    font-size: 20px;
    padding-left: 5%;
    padding-top: 2%;
}
.music_title1{
    color: #fff;
    /* background-color: aqua; */
    width: 70%;
    font-size: 20px;
    padding-left: 5%;
    padding-top: 2%;
}
.music_time{
    color: #fff;
    font-size: 23px;
    position: absolute;
    right: 2%;
    float: right;
    padding-top: 2%;
}